variables:
  BuildPlatform: 'any cpu'
  BuildConfiguration: 'release'

resources:
  repositories:
  - repository: self

pool:
  vmImage: 'windows-latest'

trigger:
  branches:
    include:
    - master

pr:
  branches:
    include:
    - master

steps:
- task: CopyFiles@2
  displayName: 'Copy Function files'
  inputs:
    Contents: |
      '$(Build.SourcesDirectory)/MonitorAlert/Modules/**'
      '$(Build.SourcesDirectory)/MonitorAlert/MonitorAlert/**'
      '$(Build.SourcesDirectory)/MonitorAlert/host.json'
      '$(Build.SourcesDirectory)/MonitorAlert/profile.ps1'
      '$(Build.SourcesDirectory)/MonitorAlert/requirements.psd1'
      '$(Build.SourcesDirectory)/MonitorAlert/proxies.json'
    TargetFolder: '$(Build.SourcesDirectory)/MonitorAlertZip'

    
- task: CopyFiles@2
  displayName: 'Copy Function files'
  inputs:
    Contents: '$(Build.SourcesDirectory)/PostMessageToSlack/PostMessageToSlack/**'
    TargetFolder: '$(Build.SourcesDirectory)/MonitorAlertZip'

- task: CopyFiles@2
  displayName: 'Copy Function files'
  inputs:
    Contents: |
      '$(Build.SourcesDirectory)/PayStackAlert/Modules/**'
      '$(Build.SourcesDirectory)/PayStackAlert/PayStackAlert/**'
      '$(Build.SourcesDirectory)/PayStackAlert/requirements.psd1'
    TargetFolder: '$(Build.SourcesDirectory)/MonitorAlertZip'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/MonitorAlertZip'
    includeRootFolder: false
    archiveType: zip 
    archiveFile: '$(Build.ArtifactStagingDirectory)/slack_azure_function.zip' 
   
- task: PublishPipelineArtifact@1
  displayName: Publish Artifact
  inputs:
    targetPath: $(Build.ArtifactStagingDirectory)
    artifact: Prg.AzureMonitorToSlack